
<div class='parallax'>
    <nav class="navbar navbar-expand-lg" id='myNavbar'>
        <a class="navbar-brand" href="#">Evan Tucker</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            {{!-- <span class="navbar-toggler-icon" style="color: white;"></span> --}}
            <span><i class="material-icons md-light">menu</i></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" stlye="color: white;" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Portfolio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
<div class='bio-section'>
    <div class='row'>
        <div class='col'>
            Contrary to popular belief, Lorem Ipsum is 
            not simply random text. It has roots in a piece 
            of classical Latin literature from 45 BC, making 
            it over 2000 years old. Richard McClintock, a 
            Latin professor at Hampden-Sydney College in 
            Virginia, looked up one of the more obscure 
            Latin words, consectetur, from a Lorem Ipsum 
            passage, and going through the cites of the word
             in classical literature, discovered the 
             undoubtable source. Lorem Ipsum comes from 
             sections 1.10.32 and 1.10.33 of "de Finibus 
             Bonorum et Malorum" (The Extremes of Good and 
             Evil) by Cicero, written in 45 BC. This book is 
             a treatise on the theory of ethics, very popular 
             during the Renaissance. The first line of Lorem 
             Ipsum, "Lorem ipsum dolor sit amet..", comes from 
             a line in section 1.10.32.
        </div>
        <div class='col'>
            Maybe a picture in here?
        </div>
    </div>
</div>
<div class='parallax'></div>
<div style="height:500px;background-color:white;font-size:36px">
Scroll Up and Down this page to see the parallax scrolling effect.
This div is just here to enable scrolling.
Tip: Try to remove the background-attachment property to remove the scrolling effect.
</div>
